*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
}

html, body {
  height: 100%;
  font-weight: 700;
  font-size: 16px;
}

img {
  vertical-align: top;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@font-face {
  font-family: "MontserratRegular";
  src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MontserratBold";
  src: url(../fonts/Montserrat-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

.header {
  background-color: #FFD100;
}

.phone {
  border-bottom: 1px solid #333333;
  font-family: "MontserratBold";
  font-size: 24px;
  color: #333333;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 85px;
}

.header-top__logo {
  font-family: "MontserratBold";
  font-size: 30px;
  color: #333333;
}

.a-menu {
  font-family: "MontserratRegular";
  font-size: 16px;
  color: #333333;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu > li {
  margin-right: 50px;
}

.menu > li:last-child {
  margin-right: 0px;
}

.header-bottom__left > h1 {
  font-family: "MontserratBold";
  font-weight: bold;
  font-size: 64px;
  max-width: 200px;
  color: #333333;
  margin-bottom: 20px;
}

.h2 {
  color: #333333;
  font-family: "MontserratBold";
  font-size: 28px;
  margin-bottom: 40px;
}

.header-bottom__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.butta {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "MontserratBold";
  font-size: 22px;
  padding: 20px 100px;
  background-color: #FF352B;
  color: white;
  border: 2px white solid;
}

.header-bottom__text {
  color: #333333;
  font-family: "MontserratRegular";
  font-size: 18px;
  margin-left: 60px;
  max-width: 150px;
}

.header-bottom__ul {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.h2 {
  font-family: "MontserratBold";
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 60px;
}

.numbers {
  font-family: "MontserratRegular";
  font-size: 50px;
}

.main-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=style.css.map */